.pic{
    margin-bottom: -10px;
    padding: 0;
}
.pic .image{
    width: 100%;
    margin: 0;
}
.image img{
    width: 100%;
    height: auto;
}
.wish{ padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.wish .text{
    padding-left: 10%;
    padding-right: 10%;
    background-color:#d8e8e3;
    margin: 0%;
}
.wish .text h1{
    color: rgb(77, 55, 112);
    font-weight: bolder;
    font-size: 70px;
    text-decoration: burlywood;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}
.wish.text h3{
    justify-content: center;
    font-size: 40px;
    font-family: -webkit-body;
    color: rgba(0,0,0,.87);
    line-height: 1.5;
    letter-spacing: .01em;
    padding: 1.6rem;
}
@media(max-width: 700px) {
    .wish .text h1{
        font-size: x-large;
    }
    .wish.text h3{
        font-size: xx-small;
    }

}